body {
  padding: 0;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #efefef;
  margin: auto;
  /* padding: 2rem; */
  box-sizing: border-box;
}

.Menu {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Menu ul {
  margin: 0;
  list-style: none;
  padding: 0.5rem 0;
  background: #fff;
  text-align: left;
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  overflow-y: auto;
  overflow: hidden;
  height: 100%;
}

.Menu li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.Menu li:hover {
  background: #efefef;
}

.Button {
  float: left;
  background: #ddd;
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  color: #aaa;
}

.Triggers {
  display: grid;
  width: 100%;
  height: 100%;
  background: red;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* align-content: flex-end; */
  align-items: flex-end;
}
